.filters
{
    position: relative;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.filters div
{
    display: inline-block;
    height: 100%;
    width: 25%;
}
.filters div.locations
{
    border-right: 1px solid #DDDDDD;
}
.filters div.amenities
{
   position: absolute;
}
.filters div h3
{
    font-weight: 600;
    margin-bottom: 0px;
    position: relative;
    left: 50px;
}
.filters div h4
{
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    position: relative;
    left: 50px;
}
.btn
{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    height: 48px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
}
.btn:hover
{
    opacity: 90%;
}
ul
{
    list-style-type: none;
}
li
{
    margin: 1.5%;
}
.popover
{
    display: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
    padding: 10% 10%;
}
.popover h2
{
    font-size: 16px;
    margin-bottom: 0;
}
.filters div.locations:hover .popover
{
    display: block;
}
.filters div.amenities:hover .popover
{
    display: block;
}
ul li ul li
{
    position: relative;
    left: -15%;
}
