.places
{
    text-align: center;

}
.places h1
{
    text-align: left;
    font-size: 30px;
    position: relative;
    left: 1.5%;
    margin-bottom: 0;
    z-index: -1;
}
.places article
{
    display: inline-block;
    text-align: center;
    width: 390px;
    padding: 0 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
.places article h2
{
    font-size: 30px;
}
